body {

	background-image: url("http://www.dreamtemplate.com/dreamcodes/bg_images/color/c2.jpg");
	margin: 0;
}

header h1 {
	color: white;
	text-shadow: 3px 5px black;
	margin: 0px;
	font-family: 'Chewy', cursive;
	font-size: 100px;
	text-align: center;
}

nav {

	background: #d10a0a;
	background-size: 15px 0px 15px 0px;
}

li {
	list-style-type: none;
}
nav ul li {
	text-align: center;
	display: inline-block;
	background-size: 15px 0px 15px 0px;
	margin-right: 20%;
	margin-left: 20%;
}

nav ul li a {
	color:  white;
	font-family: 'Chewy', cursive;
	font-size: 50px;
	list-style-type: none;
	display: inline-block;
	text-shadow: 3px 5px black;
}

a{
	text-decoration: none;
}

ul li article img {
	margin-left: 70px;
}

.opis {
	color:  white;
	font-family: 'Chewy', cursive;
	text-align: left;
	margin-left: 70px;
	margin-right:  70px; 
}

h1.opis {
	font-size: 60px;
}

p.opis{
	font-size: 40px;
}

strong {
	font-size: 50px;
	text-shadow: 4px 5px black;
}

.meninaslov {
	font-size: 60px;
	text-align: center;
	color:  white;
	font-family: 'Chewy', cursive;
	text-shadow: 4px 5px black;
}

article.menijelo {
	font-size: 30px;
	text-align: left;
	color:  white;
	font-family: 'Chewy', cursive;
	margin: 0px 70px;
	text-shadow: 4px 5px black;
}

h3.menijelo {
	margin: 0px 70px;
	text-shadow: 4px 5px black;
}

footer {
	text-align: center;
	background-color: #d10a0a;
	color:  white;
	font-family: 'Chewy', cursive;
	text-shadow: 2px 3px black;
}
